@{
    ViewBag.Title = "Login";

}

<h2>Login</h2>
@if (IsPost)
{
    var username = Request["Username"];
    var password = Request["Password"];

    if ()
    {
        FormsAuthentication.SetAuthCookie(username, createPersistentCookie: true);
    }
    else
    {

        Response.Redirect("~/Login");
        <p>
            Username or password is not valid
        </p>
    }
    Response.Redirect("~");
}

<form>
    <label for="userName">username</label>
    <input type="text" name="userName" id="userName" />
    <label for="password">password</label>
    <input type="text" name="password" id="password" />
    <button type="submit">Log in</button>
</form>
