<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NetworkDB" connectionString="Data Source=DESKTOP-60HJP9E;Initial Catalog=Network;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>